[Unit]
Description=Ignite Pickup Boxes Scanner
After=network.target

[Service]
WorkingDirectory=/home/ignite/ignite-pickup-boxes/backend/
ExecStart=/usr/bin/screen -dmS ignite-pickup-boxes-scanner /home/ignite/ignite-pickup-boxes/backend/start_scanner.sh
Type=forking

[Install]
WantedBy=multi-user.target
