[Unit]
Description=Ignite Pickup Boxes Backend Dev Server
After=network.target

[Service]
WorkingDirectory=/home/ignite/ignite-pickup-boxes/backend/
ExecStart=/usr/bin/screen -dmS ignite-pickup-boxes-backend /home/ignite/ignite-pickup-boxes/backend/start_app.sh
Type=forking

[Install]
WantedBy=multi-user.target
